@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&family=Poppins:wght@300&display=swap');

html {
  height: 100%;
}
body {
  height: 100%;
  margin: 0;
}
#root {
  height: 100%;
  padding: 0px;
}

.page-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.product-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
  justify-content: center;
  margin: 0em 10em;
}

.image-product {
  width: 500px;
  height: 419px;
}

.button-social {
  margin-left: 6em;
  margin-top: 2em;
  background-color: #dddddd;
  width: 336px;
  height: 34px;
  border-radius: 7px;
  border: none;
  font-family: 'Poppins', sans-serif;
  color: #323945;
  font-weight: bold;
}

.name-product {
  font-family: 'JetBrains Mono', monospace;
}

.price-product {
  font-family: 'Poppins', sans-serif;
}
.description-product {
  font-family: 'Poppins', sans-serif;
}

.button-add-to-cart {
  font-family: 'Poppins', sans-serif;
  width: 300px;
  height: 44px;
  background-color: #c242d7;
  color: white;
  font-size: 1em;
  border-radius: 7px;
  border: none;
}
